h1 {
    font-size:200%;
    letter-spacing:2px;
    margin-bottom: 0;
}

.topchrome {
    border-bottom:1px solid blue;
    margin-bottom:20px;
}

.info {
    background-color:yellow;
    padding:20px;
    border:2px solid;
    border-radius:25px;
}

.name {
    font-weight: bold;
}

.upload {
    padding-bottom:20px;
}

.exp {
    font-size:small;
}

.prompt>em {
    font-weight:bold;
    font-size:medium;
}

