{{define "main"}}
<html>
  {{template "header"}}
  <body>
    {{template "topchrome"}}
    <div class="info">
      To use, please install Emacs 24.  {{template "name"}} has not been tested with the old <a href="http://repo.or.cz/w/emacs.git/blob_plain/1a0a666f941c99882093d7bd08ced15033bc3f0c:/lisp/emacs-lisp/package.el">package.el available for Emacs 23</a>.  To use, add the following to your initialization file:
      <pre>
        (eval-after-load 'package
          '(add-to-list 'package-archives
                        '(&quot;{{template "name"}}&quot; . &quot;http://{{template "domain"}}/packages/&quot;)))
      </pre>
      After this is evaluated, packages from {{template "name"}} will show up when running <code>M-x list-packages</code>.
    </div>
    <div class="packages">
      <h2>Packages</h2>
      <div class="upload">
        <a href="./upload.html">Upload a package</a>
      </div>
      {{range .}}
      <div class="package">
        <span class="name">{{.Name}}:</span> <span class="description">{{.Description}}</span>.
      </div>
      {{else}}
      No packages have been uploaded so far.
      {{end}}
    </div>
  </body>
</html>
{{end}}
