{{define "md"}}
<html>
  {{template "header"}}
  <body>
    {{template "topchrome"}}
    <script type="text/javascript" src="../static/elpa.js"></script>
    Upload successful!  Next, add some metadata about your package:<br>
    <br>
    <form method="post" action="/mdset">
      <div class="prompt"><em>Name</em> <span class="exp">(package name shown in "M-x list-packages")</span><br>
        <input type="text" id="name" placeholder="package-name" required=true name="name" value="{{.Package.Name}}" onchange="checkname(this)" size=30/>
        <span id="name-err" style="color:#F00"/></div>
      <div class="prompt"><em>Version</em> <span class="exp">(Version number of the package)</span><br>
        <input id="version" placeholder="Version" required=true type="text" name="version" size=10 onchange="checkversion(this)"/>
        <span id="version-err" style="color:#F00"/></div>
      <div class="prompt"><em>Description</em> <span class="exp">(Description shown alongside name)</span><br>
        <input placeholder="Text description" required=true type="text" name="description" value="{{.Package.Description}}" size=60/></div>
      <div class="prompt"><em>Readme</em> <span class="exp">(Shown when clicking on a package)</span><br>
        <textarea required=false placeholder="Package readme" name="readme" cols="80" rows="10">{{.Package.Readme}}</textarea></div>
      <input type="hidden" name="blobkey" value="{{.BlobKey}}">
      <input id="submit" type="submit" value="Submit" disabled=true>
    </form>
  </body>
</html>
{{end}}
